#table-schedule {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table-schedule td, #table-schedule th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table-schedule tr:nth-child(even) {
    background-color: #ffffff;
}

#table-schedule tr:nth-child(odd) {
    background-color: #f4f4f4;
}

#table-schedule tr:hover {
    background-color: var(--color-2);
    color: white;
}

#table-schedule th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: var(--color-1);
    color: white;
    font-weight: bold;
    
}


a {
    font-weight: bold;
    color: var(--color-2);
}

b, strong {
    color: var(--color-1);
    }

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    }


#top {
    background-color: none;
}

.outsideWrapper{ 
    width:256px; height:256px; 
    margin:20px 60px; 
}

.insideWrapper{ 
    width:100%; height:100%; 
    position:relative;
}

.bg-img{ 
    width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
    filter: opacity(20%);

}
